.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-form-1 {
  height: 195px;
  width: 831px;
  margin: 50px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 5px 17px 6px 16px;
}

.u-section-1 .u-form-2 {
  height: 239px;
  margin: 0 167px 60px 155px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  padding: 5px 17px 6px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-2 {
    margin-right: 67px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 736px;
}

.u-section-2 .u-form-1 {
  height: 195px;
  width: 831px;
  margin: 0 auto;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  padding: 5px 17px 6px 16px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 172px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 477px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 0 auto 40px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 248px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  margin: -31px auto 0 24px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -31px 114px 0 auto;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-3 {
  margin: -31px auto 0 24px;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -31px 114px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -27px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -27px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 34px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}